<div class="topnav menu-bar">
  <a href="#" class="title">{{vm.subTitle}}</a>
</div>

<div class="content" id="serie">
  <div ng-if="vm.loading" class="loader">Loading...</div>
  <div ng-if="vm.error">{{vm.error}}</div>

  <div class="row" ng-if="vm.serieList">
    <div class="column" ng-repeat="serie in vm.serieList">
      <div class="frame">
        <div class="card" id="card" style="background-repeat: no-repeat;background-size: contain;"
          ng-style="{'background-image': 'url({{serie.images['Poster Art'].url}})'}">
        </div>
        <p>{{serie.title}}</p>
      </div>
    </div>
  </div>
</div>